<div class="print-area">
  <div class="svg-template" [style.marginTop.mm]="printOffset">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="210mm"
         height="446.386mm" viewBox="0 0 595.276 1265.345">
      <defs>
        <style>
          #BContent {
            text-transform: uppercase;
          }

          .cls-1 {
            fill: transparent;
          }

          .cls-2 {
            fill: #009fe3;
          }

          .cls-3 {
            font-size: 8px;
            fill: #1d1d1b;
            font-family:Roboto, sans-serif;
            font-weight: 700;
          }


        </style>
      </defs>
      <title>technicak-template-p2-01</title>

      <g id="Boundary">
        <rect id="PageBoundary" class="cls-1" width="595.276" height="1261.417"/>
      </g>
      <g id="BAlign" *ngIf="printTrackingData">
        <rect class="cls-2" x="28.789" y="34.016" width="16.247" height="11.339"/>
        <rect class="cls-2" x="550.117" y="34.016" width="14.068" height="11.339"/>
        <polyline class="cls-2" points="44.982 19.843 16.846 19.843 16.846 0"/>
        <polyline class="cls-2" points="550.117 19.843 578.254 19.843 578.254 0"/>
        <rect class="cls-2" x="17.027" y="70.361" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="46.455" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="94.266" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="118.171" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="142.077" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="165.982" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="189.888" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="213.793" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="237.699" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="261.604" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="285.509" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="309.415" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="333.32" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="357.226" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="381.131" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="405.036" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="428.942" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="452.847" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="476.753" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="500.658" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="524.564" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="548.469" width="28.008" height="11.339"/>
        <rect class="cls-2" x="17.027" y="572.374" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="70.361" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="46.455" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="94.266" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="118.171" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="142.077" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="165.982" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="189.888" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="213.793" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="237.699" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="261.604" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="285.509" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="309.415" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="333.32" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="357.226" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="381.131" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="405.036" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="428.942" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="452.847" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="476.753" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="500.658" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="524.564" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="548.469" width="28.008" height="11.339"/>
        <rect class="cls-2" x="550.182" y="572.374" width="28.008" height="11.339"/>
        <polyline class="cls-2" points="16.846 29.792 16.846 19.906 6.986 19.906"/>
        <polyline class="cls-2" points="578.254 29.728 578.254 19.843 588.114 19.843"/>
        <polyline class="cls-2" points="16.846 583.406 16.846 594.635 6.986 594.635"/>
        <polyline class="cls-2" points="578.254 583.478 578.254 594.707 588.114 594.707"/>
        <polyline class="cls-2" points="18.387 774.516 18.387 785.745 8.527 785.745"/>
        <polyline class="cls-2" points="576.85 774.588 576.85 785.817 586.71 785.817"/>
        <polyline class="cls-2" points="17.027 605.79 17.027 594.777 26.887 594.777"/>
        <polyline class="cls-2" points="578.254 605.72 578.254 594.707 568.394 594.707"/>
      </g>


      <g id="BContent">
        <text id="ztpc" data-name="ztpc" class="cls-3" transform="translate(54 42.5)">{{data.ZTPC}}</text>
        <text id="esc" data-name="esc" class="cls-3" transform="translate(190 42.5)">{{data.ESC}}</text>
        <text id="_1" data-name="1" class="cls-3" transform="translate(101.406 56.191)">{{data._1}}</text>
        <text id="_2" data-name="2" class="cls-3" transform="translate(61.663 67.793)">{{data._2}}</text>
        <text id="J" class="cls-3" transform="translate(128.874 79.395)">{{data.J}}</text>
        <text id="D_1" class="cls-3" transform="translate(97.002 90.845)">{{data.D_1}}</text>
        <text id="D_2_1" class="cls-3" transform="translate(64.305 103.175)">{{data.D_2_1}}</text>
        <text id="D_2_2" class="cls-3" transform="translate(190.36 103.175)">{{data.D_2_2}}</text>
        <text id="D_2_3" class="cls-3" transform="translate(301.553 103.175)">{{data.D_2_3}}</text>
        <text id="D_3" class="cls-3" transform="translate(108.342 114.624)">{{data.D_3}}</text>
        <text id="E" class="cls-3" transform="translate(138.837 126.471)">{{data.E}}</text>
        <text id="_3" data-name="3" class="cls-3" transform="translate(101.406 138.317)">{{data._3}}</text>
        <text id="_4" data-name="4" class="cls-3" transform="translate(79.608 150.376)">{{data._4}}</text>
        <text id="_5" data-name="5" class="cls-3" transform="translate(66.617 161.145)">{{data._5}}</text>
        <text id="P_3" class="cls-3" transform="translate(279.974 161.145)">{{data.P_3}}</text>
        <text id="P_2" class="cls-3" transform="translate(137.956 174.282)">{{data.P_2}}</text>
        <text id="P_1" class="cls-3" transform="translate(310.993 174.282)">{{data.P_1}}</text>
        <text id="V_9_1" class="cls-3" transform="translate(113.957 186.172)">{{data.V_9_1}}</text>
        <text id="V_9_2" class="cls-3" transform="translate(318.507 186.172)">{{data.V_9_2}}</text>
        <text id="V_6" class="cls-3" transform="translate(151.112 198.187)">{{data.V_6}}</text>
        <text id="V_7" class="cls-3" transform="translate(296.048 198.187)">{{data.V_7}}</text>
        <text id="_6" data-name="6" class="cls-3" transform="translate(80.708 210.203)">{{data._6}}</text>
        <text id="_7" data-name="7" class="cls-3" transform="translate(86.654 222.218)">{{data._7}}</text>
        <text id="_8" data-name="8" class="cls-3" transform="translate(138.837 234.234)">{{data._8}}</text>
        <text id="R" class="cls-3" transform="translate(72.122 246.249)">{{data.R}}</text>
        <text id="S" class="cls-3" transform="translate(108.342 258.265)">{{data.S}}</text>
        <text id="S_1" class="cls-3" transform="translate(194.819 258.265)">{{data.S_1}}</text>
        <text id="S_2" class="cls-3" transform="translate(274.745 258.265)">{{data.S_2}}</text>
        <text id="S_3" class="cls-3" transform="translate(345.3 258.265)">{{data.S_3}}</text>
        <text id="_10" data-name="10" class="cls-3" transform="translate(135.906 269.903)">{{data._10}}</text>
        <text id="_11" data-name="11" class="cls-3" transform="translate(251.791 269.903)">{{data._11}}</text>
        <text id="_12" data-name="12" class="cls-3" transform="translate(113.227 281.542)">{{data._12}}</text>
        <text id="_13" data-name="13" class="cls-3" transform="translate(220.676 281.542)">{{data._13}}</text>
        <text id="_14" data-name="14" class="cls-3" transform="translate(323.502 281.542)">{{data._14}}</text>
        <text id="M" class="cls-3" transform="translate(93.631 293.809)">{{data.M}}</text>
        <text id="_15" data-name="15" class="cls-3" transform="translate(149.475 305.919)">{{data._15}}</text>
        <text id="_16" data-name="16" class="cls-3" transform="translate(269.254 305.919)">{{data._16}}</text>
        <text id="G" class="cls-3" transform="translate(115.567 318.284)">{{data.G}}</text>
        <text id="F.1-F.2" class="cls-3" transform="translate(204.741 329.953)">{{data.F}}</text>
        <text id="N" class="cls-3" transform="translate(61.333 353.819)">{{data.N}}</text>
        <text id="_17" data-name="17" class="cls-3" transform="translate(245.626 366.525)">{{data._17}}</text>
        <text id="O_1" class="cls-3" transform="translate(290.392 377.32)">{{data.O_1}}</text>
        <text id="O_2" class="cls-3" transform="translate(290.392 389.116)">{{data.O_2}}</text>
        <text id="_18" data-name="18" class="cls-3" transform="translate(245.626 401.567)">{{data._18}}</text>
        <text id="_19" data-name="19" class="cls-3" transform="translate(135.906 414.336)">{{data._19}}</text>
        <text id="L" class="cls-3" transform="translate(146.241 437.321)">{{data.L}}</text>
        <text id="_20" data-name="20" class="cls-3" transform="translate(61.333 460.994)">{{data._20}}</text>
        <text id="_21" data-name="21" class="cls-3" transform="translate(61.333 473.228)">{{data._21}}</text>
        <text id="_22" data-name="22" class="cls-3" transform="translate(61.333 484.9)">{{data._22}}</text>
        <text id="_23" data-name="23" class="cls-3" transform="translate(61.333 496.812)">{{data._23}}</text>
        <text id="T" class="cls-3" transform="translate(121.663 508.805)">{{data.T}}</text>
        <text id="_24-1" data-name="24-1" class="cls-3" transform="translate(126.947 520.789)">{{data._24_1}}</text>
        <text id="_24-2" data-name="24-2" class="cls-3" transform="translate(189.699 520.789)">{{data._24_2}}</text>
        <text id="_24-3" data-name="24-3" class="cls-3" transform="translate(264.121 520.789)">{{data._24_3}}</text>
        <text id="_24-4" data-name="24-4" class="cls-3" transform="translate(334.876 520.789)">{{data._24_4}}</text>
        <text id="U1_U2" data-name="U1/U2" class="cls-3" transform="translate(205.772 532.71)">{{data.U1_U2}}</text>
        <text id="U3" class="cls-3" transform="translate(326.213 532.71)">{{data.U3}}</text>
        <text id="_25" data-name="25" class="cls-3" transform="translate(146.241 544.194)">{{data._25}}</text>
        <text id="_26" data-name="26" class="cls-3" transform="translate(314.323 544.194)">{{data._26}}</text>
        <text id="_27" data-name="27" class="cls-3" transform="translate(89.406 556.864)">{{data._27}}</text>
        <text id="Q" class="cls-3" transform="translate(146.241 568.855)">{{data.Q}}</text>
        <text id="_28" data-name="28" class="cls-3" transform="translate(287.571 568.855)">{{data._28}}</text>
        <text id="_29" data-name="29" class="cls-3" transform="translate(146.241 581.066)">{{data._29}}</text>
        <text id="_30" data-name="30" class="cls-3" transform="translate(294.506 581.066)">{{data._30}}</text>
        <text id="vozidlo-cj" class="cls-3" transform="translate(92.778 673.846)">{{data.vozidlocj}}</text>
        <text id="vozidlo-dat" class="cls-3" transform="translate(140.488 698.168)">{{data.vozidlodate}}</text>
        <text id="nastavba-cj" class="cls-3" transform="translate(91.718 735.295)">{{data.nastavbacj}}</text>
        <text id="nastavba-dat" class="cls-3" transform="translate(140.488 759.93)">{{data.nastavbadate}}</text>
        <text id="DZ_1" class="cls-3" transform="translate(34.03 796.744)">{{data.DZ_1}}</text>
        <text id="DZ_2" class="cls-3" transform="translate(34.03 807.944)">{{data.DZ_2}}</text>
        <text id="DZ_3" class="cls-3" transform="translate(34.03 819.914)">{{data.DZ_3}}</text>
      </g>
    </svg>
  </div>
</div>

<div class="pane no-print">
  <div class="side-bar">
    <div class="side-bar-content">

      <h2>Technicak</h2>
      <div>
        <button (click)="loadDataset(50)">50ccm</button>
        <button (click)="loadDataset(125)">125ccm</button>
        <button (click)="loadDataset(200)">200ccm</button>
      </div>
      <hr>
      <div style="display: flex; flex-direction: column; align-items: center">
        <div style="flex:1">
        <input  id="trackdata" type="checkbox" [(ngModel)]="printTrackingData" [ngModelOptions]="{standalone: true}"/>
        <label for="trackdata">Tiskonout trackovací značky</label>
        </div>
        <div style="flex:1">
          <label>Ofset od horního kraje</label>
          <input type="number" [(ngModel)]="printOffset" step="0.1" style="width: 40px; text-align: right"> mm
        </div>
      </div>

      <hr>

      <div class="record" *ngFor="let item of data.techdataOrderDesc ">
        <label>{{item.label || item.key}}</label>
<!--        <div class="form-input">-->
          <input type="text" [(ngModel)]="data[item.key]">
<!--          <div class="form-input-help" *ngIf="item.description">{{item.description}}</div>-->
<!--        </div>-->
      </div>

    </div>
  </div>
</div>
