<div class="print-area">
  <div class="top-offset">to</div>
  <div class="first-box">
    <div class="print-line" *ngFor="let c of printlines;let i = index"> --- {{i + 1}}</div>
  </div>

  <div class="second-box">
    <div class="sb2-f1">---D</div>
    <div class="sb2-f2">---D</div>
    <div class="sb2-f3">---D</div>
    <div class="sb2-f4">---D</div>
  </div>

  <div class="third-box">
    <div class="print-line" *ngFor="let c of printlinesdz;let i = index"> --- {{i + 1}}</div>
  </div>

</div>

<div class="pane no-print">
  <div class="side-bar">
    <div class="side-bar-content">

      <h2>Technicak r2.14</h2>
      <div>
        <button (click)="loadDataset(50)">50ccm</button>
        <button (click)="loadDataset(125)">125ccm</button>
        <button (click)="loadDataset(200)">200ccm</button>
      </div>
      <hr>
      <div style="display: flex; flex-direction: column; align-items: center">
        <div style="flex:1">
          <input id="trackdata" type="checkbox" [(ngModel)]="printTrackingData" [ngModelOptions]="{standalone: true}"/>
          <label for="trackdata">Tiskonout trackovací značky</label>
        </div>
        <div style="flex:1">
          <label>Ofset X</label>
          <input type="number" [(ngModel)]="printOffsetX" step="0.1" style="width: 40px; text-align: right"> mm

          <label>Ofset Y</label>
          <input type="number" [(ngModel)]="printOffset" step="0.1" style="width: 40px; text-align: right"> mm
        </div>
      </div>

      <hr>

      <div class="record" *ngFor="let item of data.techdataOrderDesc ">
        <label>{{item.label || item.key}}</label>
        <!--        <div class="form-input">-->
        <input type="text" [(ngModel)]="data[item.key]">
        <!--          <div class="form-input-help" *ngIf="item.description">{{item.description}}</div>-->
        <!--        </div>-->
      </div>

    </div>
  </div>
</div>
