body {
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: #2e2e32;
  color: white;
  font-size: 14px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.pane {
  position: absolute;
  top: 0;

}

.side-bar {
  font-family: Roboto, sans-serif;
  background-color: lightgray;
  position: fixed;
  right: 0;
  width: 30%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


.side-bar-content {
  padding: 30px;
}

.record {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

label {
  display: inline-block;
  min-width: 90px;
  font-size: 14px;
  text-align: right;
  margin-right: 10px;
  line-height: 30px;
}

input {
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 16px;
  min-height: 24px;
  //width: 100%;
  flex: 1;
}

.form-input {
  flex: 1;

}

.form-input-help {
  margin-top: 2px;
  font-size: 11px;
  color: #4a4a50;
}


.svg-template {
  width: 210mm;
  background-image: url("~src/assets/technicak-template-p2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 -1px;
  position: absolute;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.print-area {
  padding: 0;
  font-size: 8pt;
  font-family: sans-serif;
  background-image: url("~src/assets/technicak-template-px.jpg");
  background-repeat: no-repeat;
  background-size: 206mm auto;
  background-position: -5mm 0;

  .first-box {
    height: 198mm;
    display: flex;
    flex-direction: column;
    //border-bottom: 1px solid black;
  }

  .second-box {
    height: 68mm;
    //border-bottom: 1px solid black;
    position: relative;

    .sb2-f1,
    .sb2-f2,
    .sb2-f3,
    .sb2-f4 {
      height: 4mm;
      position: absolute;
      top: 0;
    }


    .sb2-f1 {
      top: 26mm;
    }

    .sb2-f2 {
      top: 34mm;
    }

    .sb2-f3 {
      top: 47mm;
    }

    .sb2-f4 {
      top: 56mm;
    }

  }

  .third-box {
    height: 12.8mm;
    display: flex;
    flex-direction: column;
  }

  .top-offset {
    height: 11mm;
  }

  .print-line {
    flex: 1;
    display: block;
    position: relative;
  }

  $step: 5;

  @for $i from 1 through 30 {
    $val: $i * $step;
    .s#{$val} {
      position: absolute;
      top: 0;
      left: #{$val}mm;
    }
  }


}

@media print {
  html, body {
    display: block;
    font-family: "Arial";
    margin: 0;
    max-width: 210mm;
    max-height: 297mm;
  }

  @page {
    size: 210mm 297mm;
    margin: 0;
  }

  .no-print {
    display: none !important;
  }

  .print-area {

    width: 160mm;
    margin-left: 8mm;
    //overflow-x: hidden;
    //overflow-y: visible;
    //border: 1px solid black;
  }


  .svg-template {

    border: none;
    background-image: none;

    width: 210mm;

    svg {
      width: 210mm;
    }
  }
}
